<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         verbose="true"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true">
    <testsuite name="mzPHP - Testsuite">
        <directory suffix=".php">./tests</directory>
    </testsuite>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./_mzp</directory>
            <directory suffix=".php">./application</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="./reports" charset="UTF-8"/>
    </logging>
</phpunit>