<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8">
		<title><?=$meta_title;?></title>
		<meta name="keywords" content="<?=$meta_keywords;?>" />  
		<meta name="description" content="<?=$meta_description;?>" />
		<link href="<?=img('favicon','public');?>" type="image/x-icon" rel="shortcut icon" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<style type="text/css">
			body {
				padding-top: 60px;
				padding-bottom: 40px;
			}
			.sidebar-nav {
				padding: 9px 0;
			}
		</style>
		<link href="<?=stc('bootstrap.min.css','css');?>" type="text/css" rel="stylesheet">
		<link href="<?=stc('bootstrap-theme.min.css','css');?>" type="text/css" rel="stylesheet">
		<!--[if lt IE 9]>
			 <script src="<?=stc('html5.js','js');?>"></script>
		<![endif]-->
		<!--[if IE 6]>    
			<link href="<?=stc('ie6.min.css','css');?>" rel="stylesheet">
		<![endif]-->
		<script type="text/javascript" src="<?=stc('jquery-2.0.3.min.js','js');?>"></script>
		<?=$___CSS___;?>
	</head>
	<body>
		<div class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="navbar-inner">
				<div class="container">
					<div class="navbar-header">
						<a class="navbar-brand"><?=c('SITE_NAME')?></a>
					</div>
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li <?php if(g('a') == 'index') echo 'class="active"';?>><a href="<?=u('index/index',array('name'=>'mzPHP'));?>">首页</a></li>
							<li <?php if(g('a') == 'about') echo 'class="active"';?>><a href="<?=u('index/about');?>">关于</a></li>
							<li <?php if(g('a') == 'contact') echo 'class="active"';?>><a href="<?=u('index/contact');?>">联系</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<?=$___CONTENT___;?>
		<hr>
		<div class="container">
			<footer>
				<p class="glyphicon glyphicon-arrow-up pull-right badge"><a href="#" class="badge">TOP</a></p>
				<p>
					&copy; 2014 &middot;
					<strong>mzPHP</strong>&middot; 
					REGEL
				</p>
				<p>&nbsp;</p>
			</footer>
		</div>
		<!--[if IE 6]>
			 <script src="<?=stc('ie6.min.js','js');?>"></script>
		<![endif]-->
		<script type="text/javascript" src="<?=stc('common.js','js');?>"></script>
		<script type="text/javascript" src="<?=stc('bootstrap.min.js','js');?>"></script>
		<div class="hidden">
			<!-- 用于加载统计代码等隐藏元素 -->
		</div>
	</body>
</html>
