		<hr>
		<div class="container">
			<footer>
			<p class="glyphicon glyphicon-arrow-up pull-right badge"><a href="#" class="badge">TOP</a></p>
			<p>
				&copy; 2014 &middot;
				<strong>mzPHP</strong>&middot; 
				REGEL
			</p>
			<p>&nbsp;</p>
			</footer>
		</div>
		<!--[if IE 6]>
			 <script src="static/js/ie6.min.js"></script>
		<![endif]-->
		<script type="text/javascript" src="static/js/common.js"></script>
		<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
		<div class="hidden">
			<!-- 用于加载统计代码等隐藏元素 -->
		</div>
	</body>
</html>